.logo{
    text-align: center;
    color:white;
    height: 150px; 
    margin-top: 15px;
}
.container{
    background-color: black; 
}
.carousel-item{
    height: 450px;
    margin-bottom: 100px;
   
}
.nav-item{
    color: blueviolet;
}
